<div class="ghx-lightbox">
  <div class="lightbox-overlay" (click)="closeLightBox()"></div>
  <div class="lightbox-container">
    <div class="inner-container">
      <ng-container *ngIf="caption">
        <div class="lightbox-caption {{captionPosition}}" #lightCaption>
          <h3>{{caption}}</h3>
        </div>
      </ng-container>
      <figure #lightBoxFigure>
        <img [src]="src" [alt]="caption" #lightboxImage>
      </figure>
    </div>
  </div>

  <ng-container *ngIf="showPrevNextButton">
    <ghx-lightbox-nav></ghx-lightbox-nav>
  </ng-container>
  <div class="lightbox-actions">
    <ghx-lightbox-actions></ghx-lightbox-actions>
  </div>
</div>
