<div class="demo-container">
  <h2>Single Lightbox</h2>
  <br>
  <h4>Example 1</h4>
  <div class="demo-gallery d-flex flex-wrap">
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="https://qa.assets.orderaxe.com/catalog/6154457fd6cf653c45369f67/l_8ccdc293-233a-4a24-afba-02c54f2c6c11.jpeg" alt="Hello 1" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-2.jpeg" alt="Hello 1" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-3.jpeg" alt="Hello 2" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-4.jpeg" alt="Hello 3" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-5.jpeg" alt="Hello 4" ghxLightbox>
          </div>
      </div>
  </div>
  <br>
  <h4>Example 2</h4>
  <div class="demo-gallery d-flex flex-wrap">
      <ul>
        <ng-container *ngFor="let item of items">
          <li ghxLightbox [src]="item.src" [alt]="item.caption">
            <span>{{item.caption}}</span>
          </li>
        </ng-container>
      </ul>
  </div>

  <hr>

  <h2>Multiple Lightbox</h2>
  <br>
  <h4>Example 1</h4>
  <div class="demo-gallery d-flex flex-wrap" ghxLightboxGroup>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-1.jpeg" alt="Hello 1" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-2.jpeg" alt="Hello 1" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-3.jpeg" alt="Hello 2" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-4.jpeg" alt="Hello 3" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-5.jpeg" alt="Hello 4" ghxLightbox>
          </div>
      </div>
  </div>
  <br>
  <h4>Example 2</h4>
  <div class="demo-gallery d-flex flex-wrap" ghxLightboxGroup>
    <ul>
      <ng-container *ngFor="let item of items">
        <li ghxLightbox [src]="item.src" [alt]="item.caption">
          <span>{{item.caption}}</span>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
