<div class="demo-container">
  <h2>Single Lightbox</h2>
  <br>
  <h4>Example 1</h4>
  <div class="demo-gallery d-flex flex-wrap">
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-1.jpeg" alt="Hello 1" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-2.jpeg" alt="Hello 1" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-3.jpeg" alt="Hello 2" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-4.jpeg" alt="Hello 3" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-5.jpeg" alt="Hello 4" ghxLightbox>
          </div>
      </div>
  </div>
  <br>
  <h4>Example 2</h4>
  <div class="demo-gallery d-flex flex-wrap">
      <ul>
        <li src="../assets/img/picure-1.jpeg" alt="Caption 1" ghxLightbox>
          <span>Picture 1</span>
        </li>
        <li src="../assets/img/picure-2.jpeg" alt="Caption 2" ghxLightbox>
          <span>Picture 2</span>
        </li>
        <li src="../assets/img/picure-3.jpeg" alt="Caption 3" ghxLightbox>
          <span>Picture 3</span>
        </li>
        <li src="../assets/img/picure-4.jpeg" alt="Caption 4" ghxLightbox>
          <span>Picture 4</span>
        </li>
        <li src="../assets/img/picure-5.jpeg" alt="Caption 5" ghxLightbox>
          <span>Picture 5</span>
        </li>
      </ul>
  </div>

  <hr>

  <h2>Multiple Lightbox</h2>
  <br>
  <h4>Example 1</h4>
  <div class="demo-gallery d-flex flex-wrap" ghxLightboxGroup>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-1.jpeg" alt="Hello 1" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-2.jpeg" alt="Hello 1" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-3.jpeg" alt="Hello 2" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-4.jpeg" alt="Hello 3" ghxLightbox>
          </div>
      </div>
      <div class="col-3">
          <div class="d-flex flex-wrap align-items-center gallery-box">
            <img class="img-fluid" src="../assets/img/picure-5.jpeg" alt="Hello 4" ghxLightbox>
          </div>
      </div>
  </div>
  <br>
  <h4>Example 2</h4>
  <div class="demo-gallery d-flex flex-wrap" ghxLightboxGroup>
      <ul>
        <li src="../assets/img/picure-1.jpeg" alt="Caption 1" ghxLightbox>
          <span>Picture 1</span>
        </li>
        <li src="../assets/img/picure-2.jpeg" alt="Caption 2" ghxLightbox>
          <span>Picture 2</span>
        </li>
        <li src="../assets/img/picure-3.jpeg" alt="Caption 3" ghxLightbox>
          <span>Picture 3</span>
        </li>
        <li src="../assets/img/picure-4.jpeg" alt="Caption 4" ghxLightbox>
          <span>Picture 4</span>
        </li>
        <li src="../assets/img/picure-5.jpeg" alt="Caption 5" ghxLightbox>
          <span>Picture 5</span>
        </li>
      </ul>
  </div>
</div>
