<div class="demo-gallery d-flex flex-wrap" ghxLightboxGroup>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <span class="img-fluid" src="../assets/img/picure-1.jpeg" ghxLightbox>Hello</span>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-2.jpeg" alt="Hello 1" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-3.jpeg" alt="Hello 2" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-4.jpeg" alt="Hello 3" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-5.jpeg" alt="Hello 4" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-6.jpeg" alt="Hello 5" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-7.jpeg" alt="Hello 6" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-8.jpeg" alt="Hello 7" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-1.jpeg" alt="Hello 8" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-2.jpeg" alt="Hello 9" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-3.jpeg" alt="Hello 10" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-4.jpeg" alt="Hello 11" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-5.jpeg" alt="Hello 12" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-6.jpeg" alt="Hello 13" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-7.jpeg" alt="Hello 14" ghxLightbox>
        </div>
    </div>
    <div class="col-3">
        <div class="d-flex flex-wrap align-items-center gallery-box">
          <img class="img-fluid" src="../assets/img/picure-8.jpeg" alt="Hello 15" ghxLightbox>
        </div>
    </div>
</div>

