.ghx-lightbox-nav-button {
  a {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #000;
    color: white;
    padding: 5px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    box-sizing: border-box;
    z-index: 10000;
    &.lightbox-prev {
      left: 0;
    }
    &.lightbox-next {
      right: 0;
    }
    span {
      display: inline-block;
      line-height: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
